<% include ../partials/header%>
<div class="container">
    <h1 class="form_header">Add New Comment To <%=campground.name%></h1>
    <div class="form_input">
          <form action="/places/<%=campground._id%>/comments" method="POST">
            <div class="form-group">
              <input class="form-control"  type="text" name="comment[text]" placeholder="Text">
            </div>
            <button class="btn btn-primary btn-block">Submit</button>
          </form>
           <a href="/places/<%=campground._id%>">Go back</a>
    </div>
   
</div>
<% include ../partials/footer %>